<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>*|MC:SUBJECT|*</title>

  <style type="text/css">
    .full {width:100% !important;}
    @media only screen and (max-width: 480px) {
      .flexible {
        width:100% !important;
        margin-left:0px !important;
        margin-right:0px !important;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
      }
      .color-stripe {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
      }
      .logo {
        padding-left: 12% !important;
        width: 150px !important;
        height: 33px !important;
      }
      .footer {
        padding-left: 7% !important;
        padding-right: 7% !important;
      }
      h1 {
        font-size:21px !important;
      }
      h2 {
        font-size:17px !important;
      }
      h3 {
        font-size:17px !important;
      }
      h4 {
        font-size:14px !important;
      }
      p {
        font-size:14px !important;
      }
      .contact-info p {
        font-size:12px !important;
      }
    }
  </style>
</head>

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="background: #edeff0;width:100% !important;-webkit-text-size-adjust:none;margin:0;padding:0;">
  <center>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="background:#edeff0;font-family:Helvetica,sans-serif;height:100% !important;margin:0;padding:0;width:100% !important;font-size:14px;color:#9ba6b0;">
      <tr>
        <td align="center" style="vertical-align:top;padding-bottom:15px;border-collapse:collapse;">
          <!-- // BEGIN CONTAINER -->
          <table class="flexible" border="0" cellpadding="0" cellspacing="0" style="width:90%;max-width:600px;margin-right:5%;margin-left:5%;display:block;">
            <tr>
              <td align="center" style="vertical-align:top;border-collapse:collapse;">
                <!-- // BEGIN PREHEADER -->
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                  <tr>
                    <td align="left" width="192" style="width:192px;vertical-align:top;padding-top:21px;padding-bottom:21px;border-collapse:collapse;">
                      <a href="http://teamtreehouse.com"><img class="logo" width="192" height="42" style="width:192px;height:42px;border:0;line-height:100%;outline:none;text-decoration:none;" src="https://gallery.mailchimp.com/6cd557f316f6c6b5deccf9bc0/images/ecb7aca6-024e-4943-bb6e-19b3521f977e.png"></a>
                    </td>
                    <td>
                        
                    </td>
                  </tr>
                </table>
                <!-- END PREHEADER \\ -->
              </td>
            </tr>

            <tr>
              <td align="center" style="vertical-align:top;border-collapse:collapse;">
              <!-- // BEGIN HEADER -->
                <table class="flexible" border="0" cellpadding="0" cellspacing="0" style="background-color:#FFF;border-top-left-radius:5px;border-top-right-radius: 5px;border-bottom-left-radius:5px;border-bottom-right-radius: 5px;">
                  <tr>
                    <td class="color-stripe" align="center" style="vertical-align:top;border-collapse:collapse;padding-top:2px;padding-right:7%;padding-left:7%;padding-bottom:2px;border-top-left-radius:5px;border-top-right-radius: 5px;background-color:```Color```;font-size:4px;">
                       
                    </td>
                  </tr>
                  <tr>
                    <td align="center" style="vertical-align:top;border-collapse:collapse;padding-top:3%;padding-right:7%;padding-left:7%;padding-bottom:20px;">
                      <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td style="vertical-align:top;font-size:18px;font-weight:bold;line-height:100%;text-align:center;border-collapse:collapse;">
                            <div style="width:135px;height:135px;text-align:center;margin-left:auto;margin-right:auto;margin-top:25px;margin-bottom:15px;">
                              <a style="border:none;margin:0;padding:0;" href="```Link```">
                                <img width="135" height="135" style="border-radius:125px;width:135px;height:135px;border:0;line-height:100%;outline:none;text-decoration:none;" src="course-icon.png">
                              </a>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td style="vertical-align:top;font-size:18px;font-weight:bold;line-height:100%;text-align:left;border-collapse:collapse;">
                            <h1 style="margin-right:0;margin-top:15px;margin-bottom:0;margin-left:0;text-align:center;">
                              <a href="```Link```" style="line-height:130%;letter-spacing:normal;font-family:Helvetica,sans-serif;color:```Color```;display:block;font-size:24px;font-weight:bold;text-decoration:none;">```Title```</a>
                            </h1>
                            <h2 style="font-family:Helvetica,sans-serif;color:#8d9aa5;display:block;font-size:16px;font-weight:normal;line-height:150%;letter-spacing:normal;margin-right:0;margin-top:2px;margin-bottom:30px;margin-left:0;text-align:center;">
                              ```CourseSize```
                            </h2>
                          </td>
                        </tr>
                        <tr>
                          <td style="vertical-align:top;font-size:18px;font-weight:bold;line-height:100%;text-align:left;border-collapse:collapse;border-top: 1px solid #e2e5e8;">
                            <h2 style="font-family:Helvetica,sans-serif;color:#8d9aa5;display:block;font-size:18px;font-weight:normal;line-height:150%;letter-spacing:normal;margin-right:0;margin-top:30px;margin-bottom:15px;margin-left:0;text-align:center;">
                              ```Content```
                          </h2></td>
                        </tr>
                      </table>
                      <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td style="width:600px;vertical-align:top;color:#9ba6b0;font-size:16px;line-height:150%;text-align:center;border-collapse:collapse;margin:0;padding:0;">
                            <a class="button" style="font-family:Helvetica,sans-serif;margin-top:15px;margin-bottom:20px;font-weight: bold;padding-top:13px;padding-right:22px;padding-bottom:12px;padding-left:22px;background:```Color```;color: white !important;font-size: 16px;text-decoration: none;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: -moz-inline-stack;display: inline-block;vertical-align: middle;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;" href="```Link```">
                              View course overview <img width="12px" style="width:12px;height:12px;border:0;line-height:100%;outline:none;text-decoration:none;display:inline;margin-left:5px;" src="icon_right_arrow_white2x.png">
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <!-- END HEADER \\ -->
              </td>
            </tr>

            <tr>
              <td align="left" style="vertical-align:top;border-collapse:collapse;">
                <!-- // BEGIN FOOTER -->
                <table class="footer" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                  <tr>
                    <td class="contact-info" style="text-align:center;vertical-align:top;padding-top:25px;border-collapse:collapse;">
                        <p style="font-family:Helvetica,sans-serif;line-height:160%;font-family:Helvetica,sans-serif;color:#b7c0c7;font-size:12px;margin-top:0;margin-bottom:0;">
                          © Treehouse Island Inc
                        </p>
                        <p style="font-family:Helvetica,sans-serif;line-height:160%;color:#b7c0c7;font-size:12px;margin-top:0;margin-bottom:0;">
                          <a href="mailto:hello@teamtreehouse.com" style="font-weight:bold;text-decoration:none;color:#8d9aa5;">hello@teamtreehouse.com</a>  <span style="color:#b7c0c7;">|</span>  <a href="https://teamtreehouse.com/account/notifications" style="font-weight:bold;text-decoration:none;color:#8d9aa5;">Manage Email Notifications</a>  <span style="color:#b7c0c7;">|</span>  <a href="*|UNSUB|*" style="font-weight:bold;text-decoration:none;color:#8d9aa5;">Unsubscribe</a>
                        </p>
                    </td>
                  </tr>
                </table>
                <table class="footer" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                  <tr>
                    <td style="vertical-align:top;text-align:center;padding-top:30px;padding-bottom:5px;border-collapse:collapse;">
                      <a href="https://twitter.com/treehouse"><img width="39" height="42" style="width:39px;height:42px;border:0;height:auto;line-height:100%;outline:none;text-decoration:none;" src="footer-twitter2x.png"></a>
                      <a href="http://www.youtube.com/user/gotreehouse"><img width="39" height="42" style="bwidth:39px;height:42px;order:0;height:auto;line-height:100%;outline:none;text-decoration:none;" src="footer-youtube2x.png"></a>
                      <a href="https://www.facebook.com/TeamTreehouse"><img width="39" height="42" style="width:39px;height:42px;border:0;height:auto;line-height:100%;outline:none;text-decoration:none;" src="footer-facebook2x.png"></a>
                      <a href="https://plus.google.com/110278003536476194286/posts"><img width="39" height="42" style="width:39px;height:42px;border:0;height:auto;line-height:100%;outline:none;text-decoration:none;" src="footer-google2x.png"></a>
                      <a href="http://instagram.com/teamtreehouse"><img width="39" height="42" style="width:39px;height:42px;border:0;height:auto;line-height:100%;outline:none;text-decoration:none;" src="footer-instagram2x.png"></a>
                    </td>
                  </tr>
                </table>
                <!-- END FOOTER \\ -->
              </td>
            </tr>
          </table>
          <!-- END CONTAINER \\ -->
        </td>
      </tr>
    </table>
  </center>
</body>
</html>
